<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jp_application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>indexservlet</display-name>
    <servlet-name>indexservlet</servlet-name>
    <servlet-class>indexservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexservlet</servlet-name>
    <url-pattern>/indexservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartServlet</display-name>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>UpdateCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/UpdateCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartCountServlet</display-name>
    <servlet-name>CartCountServlet</servlet-name>
    <servlet-class>CartCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartCountServlet</servlet-name>
    <url-pattern>/CartCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessOrderServlet</display-name>
    <servlet-name>ProcessOrderServlet</servlet-name>
    <servlet-class>ProcessOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessOrderServlet</servlet-name>
    <url-pattern>/ProcessOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRazorpayOrderServlet</display-name>
    <servlet-name>CreateRazorpayOrderServlet</servlet-name>
    <servlet-class>CreateRazorpayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRazorpayOrderServlet</servlet-name>
    <url-pattern>/CreateRazorpayOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyPaymentServlet</display-name>
    <servlet-name>VerifyPaymentServlet</servlet-name>
    <servlet-class>VerifyPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyPaymentServlet</servlet-name>
    <url-pattern>/VerifyPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRazorpayOrderServlet1</display-name>
    <servlet-name>CreateRazorpayOrderServlet1</servlet-name>
    <servlet-class>CreateRazorpayOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRazorpayOrderServlet1</servlet-name>
    <url-pattern>/CreateRazorpayOrderServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyPaymentServlet1</display-name>
    <servlet-name>VerifyPaymentServlet1</servlet-name>
    <servlet-class>VerifyPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyPaymentServlet1</servlet-name>
    <url-pattern>/VerifyPaymentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessOrderServlet1</display-name>
    <servlet-name>ProcessOrderServlet1</servlet-name>
    <servlet-class>ProcessOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessOrderServlet1</servlet-name>
    <url-pattern>/ProcessOrderServlet1</url-pattern>
  </servlet-mapping>
</web-app>